<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ILNumerics" version="3.3.3.0" targetFramework="net452" />
  <package id="ILNumerics.Native" version="3.2.0" targetFramework="net452" />
  <package id="OxyPlot.Core" version="1.0.0" targetFramework="net40" requireReinstallation="true" />
  <package id="OxyPlot.WindowsForms" version="1.0.0" targetFramework="net40" requireReinstallation="true" />
</packages>